absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
arxiv
asttokens
astunparse
async-generator
async-timeout
attrs
backcall
bar-chart-race
beautifulsoup4
bleach
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
class-registry
cleo
click
colorama
comm
contourpy
coverage
coveralls
crashtest
cryptography
cycler
debugpy
decorator
defusedxml
distlib
distro
docopt
docutils
docx
dulwich
et-xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
feedparser
ffmpy
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
func_timeout
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
gradio
gradio_client
grpcio
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
iniconfig
installer
intel-openmp
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jaraco.classes
jedi
Jinja2
jiter
joblib
jsonlines
jsonpickle
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
keyring
kiwisolver
libclang
loguru
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl
more-itertools
mplsoccer
mpmath
msgpack
multidict
nbclassic
nbclient
nbconvert
nbformat
networkx
nh3
nltk
notebook
notebook_shim
numpy
oauthlib
openai
opencv-python
openpyxl
opt-einsum
orjson
outcome
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pkginfo
platformdirs
pluggy
poetry
poetry-core
poetry-plugin-export
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pylatexenc
pyOpenSSL
pyparsing
PyPDF2
pyproject_hooks
pyrsistent
PySocks
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-json-logger
python-multipart
python-pptx
pytube
pytz
pyvis
# pywinpty
PyYAML
pyzmq
qtconsole
QtPy
rapidfuzz
readme_renderer
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rich
rsa
ruff
safetensors
scikit-learn
scipy
seaborn
selenium
semantic-version
Send2Trash
sentence-transformers
sentencepiece
sgmllib3k
shellingham
shortuuid
six
sniffio
sortedcontainers
soupsieve
stack-data
starlette
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
tomlkit
# torch
# torch-geometric
# torch_cluster
# torch_scatter
# torch_sparse
# torchaudio
# torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
trove-classifiers
twine
typer
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
urllib3
uvicorn
virtualenv
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wikipedia
# win32-setctime
wrapt
wsproto
XlsxWriter
yarl
zipp
